html {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  font: normal 1em/1.4 $font-body;
  color: $grey-dark;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  @include heading-font();
  line-height: 1;
  position: relative;
  z-index: 0;
}

h1 {
  @include font-size(62px);
  display: inline-block;

  &::before {
    position: absolute;
    left: -10%;
    bottom: 60%;
    content: "";
    width: 120%;
    height: 6px;
    background-color: $peach;
    z-index: -1;
  }

  &.no-line {
    &::before {
      display: none;
    }
  }

  &.low-line {
    &::before {
      bottom: 32%;
    }
  }

  span {
    display: block;
    @include font-size(35px);
  }
}

h2 {
  @include font-size(35px);
}
h3 {
  @include font-size(22px);
}

p {
  @include font-size(15px);
}

a {
  color: $grey-dark;
  text-decoration: none;
}

img {
  max-width: 100%;
}
