.btn {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  background-color: $peach;
  color: $grey-dark;
  padding: 8px 10px 4px 10px;
  @include heading-font(18px);

  &.inverted {
    background-color: $grey-dark;
    color: $peach;
  }
}
