// Gill Sans
@font-face {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Gill Sans Std Regular"),
    url("./../fonts/GillSansStd.woff") format("woff");
}

// DIN Condensed Bold
@font-face {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DIN Condensed Bold"),
    url("./../fonts/DINCondensed-Bold.woff") format("woff");
}
