footer {
  background-color: $grey-dark;
  height: 320px;
  color: $grey-medium;
  scroll-snap-align: end;

  .footer {
    &__container {
      display: flex;
      justify-content: space-between;
      padding-top: 60px;
    }
    &__content {
      width: 60%;
    }
    &__contact {
      width: 20%;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading {
        color: $white;
      }
      .networks {
        display: flex;
        justify-content: space-between;
      }
    }
    &__nav {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 0 20px 0;

      li {
        display: flex;
        flex-direction: column;
        h4 {
          margin-bottom: 15px;
          display: block;
          color: $peach;
        }
        a {
          margin-bottom: 15px;
          display: block;
          color: $grey-medium;
        }
      }
    }
  }
}
