header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 35px;
  display: flex;
  align-items: center;
  z-index: 100;

  .logo {
    margin: 0 60px 0 0;
    @include heading-font(28px);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.secondary {
      margin-left: auto;
    }

    a {
      display: block;
      margin: 0 30px;
      color: $grey-dark;
      @include heading-font(18px);
    }
  }
}

