.indicators {
  position: fixed;
  top: calc(50% - 80px);
  left: 30px;
  z-index: 50;

  .indicator {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include heading-font(18px);

    .step {
      position: relative;
      display: block;
      width: 100%;

      &:before {
        position: absolute;
        left: 0;
        top: 40%;

        content: "";
        width: 50%;
        height: 1px;
        background-color: $black;
      }

      &.current:before {
        width: 100%;
      }
    }
  }
}
