@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin heading-font($size: false) {
  font-family: $font-heading;
  font-weight: normal;
  text-transform: uppercase;
  @if $size {
    @include font-size($size);
  }
}