.request-info {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 50;

  background-color: $white;
  transform: rotate(-90deg);
  padding: 10px 10px 5px;
  line-height: 1;

  @include heading-font(18px);
}
