.section {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  padding-top: 120px;
  position: relative;

  &.about {
    background: $peach url("./../images/hero-image.jpg") no-repeat top center;
    background-size: 80%;

    .hero-message {
      position: absolute;
      width: 100%;
      height: 100vh;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      img {
        position: absolute;
        left: 50%;
        top: 10%;
        z-index: 50;
        transform: translateX(-300%);
      }

      .heading {
        margin-top: 15%;
        color: $white;
        line-height: 1;
        @include font-size(80px);

        span {
          display: block;
          @include font-size(115px);
        }
      }
      .subheading {
        color: $white;
        @include font-size(35px);
      }
    }
  }

  &.community {
    padding-top: 200px;

    .community__feed {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: ". intro item-1 item-1" "item-2 item-2 . ." "feed-notes . item-3 item-3";
      grid-gap: 25px;

      .feed-intro {
        grid-area: intro;
        margin-top: -50px;

        .heading {
          margin-bottom: 10px;
          position: relative;
        }
        .intro {
          margin-top: 30px;
        }
      }

      .feed-item {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 25px;

        &__image {
          padding: 30px;
          background: $white;
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
          position: relative;

          &::after {
            content: "";
            background: url("../images/instagram-btn.svg") no-repeat;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
          }
        }
        &__text {
          padding: 30px;
          background: $white;
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);

          h3 {
            text-transform: lowercase;
            margin-top: 10px;
          }
          .stats {
            margin-top: 20px;
            text-align: right;
            @include font-size(14px);

            .comments {
              display: inline-block;
              vertical-align: middle;
              margin-left: 5px;

              &::before {
                content: "";
                background: url("../images/icon-comments.svg") no-repeat;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                width: 13px;
                height: 13px;
              }
            }
            .likes {
              display: inline-block;
              vertical-align: middle;
              margin-left: 5px;

              &::before {
                content: "";
                background: url("../images/icon-likes.svg") no-repeat;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                width: 13px;
                height: 13px;
              }
            }
          }
        }

        &.item-1 {
          grid-area: item-1;
        }

        &.item-2 {
          grid-area: item-2;
        }

        &.item-3 {
          grid-area: item-3;
        }
      }

      .feed-notes {
        grid-area: feed-notes;
      }
    }

    .location {
      position: relative;
      margin-top: 130px;
      scroll-snap-align: end;

      .map-overlay {
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 90;
        background-color: $white;
        padding: 15px;
        text-align: center;
        width: 220px;

        h1 {
          margin-top: -35px;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  &.our-menu {
    background-color: $grey-light;

    .menu-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "title title title title" ". . . .";
      grid-gap: 25px;
      overflow: hidden;
    }

    .title {
      grid-area: title;
      text-align: center;
      background: $grey-light;
      z-index: 20;
    }
    .menu-column {
      overflow-x: hidden;
      border-left: 1px solid darken($grey-light, 10%);

      position: relative;
      transition: top 2s ease-in-out;
      top: 0;

      &.starters {
        border-left: 0;
        overflow-x: visible;
      }
      &.main-courses {
        padding-top: 150px;
      }
      &.sides {
        padding-top: 100px;
      }
      &.desserts {
        padding-top: 50px;
      }

      .column-title {
        margin-left: -6px;
        @extend h1;
      }
      .menu-item {
        margin: 20px 20px 50px;

        .name {
          @include heading-font(14px);
          margin-bottom: 5px;
        }
        .info {
          color: $grey-medium;
          margin-bottom: 15px;
        }
        .price {
          display: inline-block;
          border: 2px solid $peach;
          padding: 4px 8px 2px;
        }
      }
    }

    &.scrolling-top {
      .starters,
      .sides {
        top: -800px !important;
      }
      .main-courses,
      .desserts {
        top: 800px !important;
      }
    }

    &.scrolling-bottom {
      .starters,
      .sides {
        top: 800px !important;
      }
      .main-courses,
      .desserts {
        top: -800px !important;
      }
    }
  }

  &.recipes {
    padding-bottom: 60px;
    .title {
      display: flex;
      margin-bottom: 100px;
      justify-content: space-between;
      align-items: flex-end;

      .subheading {
        text-align: right;
      }
    }

    .recipe {
      width: 240px;
      position: relative;

      &.large {
        width: 370px;

        .recipe__image img {
          width: 370px;
          height: 370px;
        }
        .recipe__servings {
          width: 110px;
          height: 110px;
          @include heading-font(22px);

          span {
            @include font-size(50px);
          }
        }
      }

      &.chefs-choice {
        &:after {
          position: absolute;
          top: -70px;
          right: 10px;

          content: "";
          background: url("../images/chef-stamp.svg") no-repeat;
          display: block;
          width: 120px;
          height: 120px;
        }
        &:not(.large) {
          margin-top: 100px;
        }
      }

      &__container {
        display: grid;
        grid-gap: 25px;
        grid-auto-flow: column;
      }

      &__card {
        display: flex;
        flex-direction: column;
        background: $white;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
        position: relative;
      }

      &__servings {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(3px);
        color: $white;
        text-align: center;
        line-height: 1;
        @include heading-font(14px);

        span {
          display: block;
          @include font-size(35px);
        }
      }

      &__image {
        margin-bottom: 20px;
        position: relative;
        img {
          width: 240px;
          height: 240px;
          object-fit: cover;
        }
        &:after {
          position: absolute;
          bottom: 8px;
          right: 0;

          content: "";
          background: url("../images/go-btn.svg") no-repeat;
          display: block;
          width: 60px;
          height: 60px;
        }
      }

      &__details {
        padding: 0 25px 25px;
        color: $grey-medium;
        @include font-size(15px);

        .difficulty {
          @include heading-font(14px);
          color: $grey-medium;
        }

        .title {
          @include heading-font(22px);
          color: $grey-dark;
          margin-bottom: 10px;
        }
      }

      &__author {
        margin-top: 15px;
        text-align: right;
        @include heading-font(14px);
      }
    }
  }

  &.collaborate {
    min-height: 80vh;
    background: $peach url("../images/crosses.png") no-repeat 63% 0px;

    .collaborate__container {
      display: flex;
      justify-content: space-between;
    }
    .collaborate__text {
      width: 320px;
      h1::before {
        background-color: $white;
      }
    }
    .collaborate__form {
      width: 525px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px;
      margin-top: 40px;

      .form-submit {
        grid-column: 1/-1;
        text-align: right;
      }
      label {
        @include heading-font(14px);
      }
      input,
      select {
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $black;
        font-size: 15px;
        padding: 8px 0;
        height: 40px;
        border-radius: 0px;
        color: $grey-medium;
        -webkit-appearance: none;
      }
      select {
        background: url("../images/chevron-down.svg") no-repeat
          calc(100% - 10px) 20px;
      }
    }
  }
}
