// Colors
$peach: #ffdac9;
$white: #ffffff;
$black: #000000;
$grey-20: #333333;
$grey-46: #767676;
$grey-97: #f8f8f8;

$grey-dark: $grey-20;
$grey-medium: $grey-46;
$grey-light: $grey-97;


$font-heading: "DIN Condensed Bold", sans-serif;
$font-body: "Gill Sans", sans-serif;